<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head></head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-sm-7 col-sm-offset-1">
				<h1>Events</h1>
			</div>
			<div class="col-sm-3">
				<a href="#" th:href="@{'/admin/events/new'}"
					class="btn btn-default btn-sm lax-btn-new pull-right">New Event</a>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<div class="teable-responsive lax-admin-table">
					<table class="table table-striped">
						<thead>
							<tr>
								<td></td>
								<td>Date</td>
								<td>Time</td>
								<td>Home Team</td>
								<td>Visitor</td>
								<td>Site</td>
								<td>Last Modified</td>
							</tr>
						</thead>
						<tbody>
							<tr th:unless="${events.size() > 0}">
								<td></td>
								<td colspan="6">No records found.</td>
							</tr>
							<tr th:each="item : ${events}">
								<td>
									<form th:action="@{'/admin/events/' + ${item.id}}"
										  th:method="delete"
										  th:object="${item}"
										  class="lax-icon"
										  title="Delete"
										  role="form">
										<button type="submit"
												class="btn btn-link lax-btn-delete">
											<span class="glyphicon glyphicon-remove red"></span>
										</button>
									</form>
									<a class="lax-icon" 
									   title="Edit" 
									   href="#" 
									   th:href="@{'/admin/events/' + ${item.id} + '/edit'}">
										<span class="glyphicon glyphicon-pencil green"></span>
									</a>
								</td>
								<td th:text="${{item.startsAt.toLocalDate()}}">Date</td>
								<td th:text="${{item.startsAt.toLocalTime()}}">Time</td>
								<td th:text="${item.getHomeTeam()}? ${item.getHomeTeam().getShortName()}">Home Team</td>
								<td th:text="${item.getVisitingTeam()}? ${item.getVisitingTeam().getShortName()}">Visitor</td>
								<td th:text="${item.site} ? ${item.site.name}">Site</td>
								<td th:text="${{item.modifiedAt}}">Last Modified</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>