<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<body>
	<div th:fragment="content">
		<div class="lax-rt-play-filter">
			<button type="button" id="" class="lax-btn lax-btn-filter">All</button>
			<button type="button" id="" class="lax-btn lax-btn-filter">Penalties</button>
			<button type="button" id="" class="lax-btn lax-btn-filter">Goals</button>
			<button type="button" id="" class="lax-btn lax-btn-filter">Saves</button>
			<button type="button" id="" class="lax-btn lax-btn-filter">Goalie
				Changes</button>
		</div>

		<div class="row">
			<div class="col-xs-6">
				<table class="table table-striped lax-admin-table">
					<thead>
						<tr>
							<td></td>
							<td>Per</td>
							<td>Time</td>
							<td>Play</td>
							<td>Player</td>
						</tr>
					</thead>
					<tbody>
						<tr th:unless="${game.getHomePlays().size() > 0}">
							<td></td>
							<td colspan="4">No plays found.</td>
						</tr>
						<tr th:each="play : ${game.getHomePlays()}">
							<td>
								<form class="lax-btn-delete" 
									  th:action="@{'/action/events/' + ${game.id} + '/' + ${play.getUrlType()} + '/' + ${play.id}}" 
									  th:method="delete" 
									  role="form">
									<input th:type="hidden" th:field="${game.id}" />
									<input th:type="hidden" name="play-type" th:value="${play.getUrlType()}" />
									<input th:type="hidden" name="play-id" th:value="${play.id}" />
									<button type="submit" 
											class="btn btn-link lax-btn-delete">
										<span class="glyphicon glyphicon-remove red"></span>
									</button>
								</form>
							</td>
							<td th:text="${play.period}">Per</td>
							<td th:text="${{play.elapsedTime}}">Time</td>
							<td class="lax-link-edit" 
								th:attr="data-game=${game.id},data-play-type=${play.getUrlType()},data-play=${play.id}"
								th:text="${play.playType}">Play</td>
							<td th:text="${play.getListedPlayer()}"></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="col-xs-6">
				<table class="table table-striped lax-admin-table">
					<thead>
						<tr>
							<td></td>
							<td>Per</td>
							<td>Time</td>
							<td>Play</td>
							<td>Player</td>
						</tr>
					</thead>
					<tbody>
						<tr th:unless="${game.getVisitorPlays().size() > 0}">
							<td></td>
							<td colspan="4">No plays found.</td>
						</tr>
						<tr th:each="play : ${game.getVisitorPlays()}">
							<td>
								<form class="lax-btn-delete" 
									  th:method="delete" 
									  role="form">
									<input th:type="hidden" 
										   th:field="${game.id}" />
									<input th:type="hidden" 
										   name="play-type" 
										   th:value="${play.getUrlType()}" />
									<input th:type="hidden" 
										   name="play-id" 
										   th:value="${play.id}" />
									<button type="submit" 
											class="btn btn-link lax-btn-delete">
										<span class="glyphicon glyphicon-remove red"></span>
									</button>
								</form>
							</td>
							<td th:text="${play.period}">Per</td>
							<td th:text="${{play.elapsedTime}}">Time</td>
							<td class="lax-link-edit" 
								th:attr="data-game=${game.id},data-play-type=${play.getUrlType()},data-play=${play.id}"
								th:text="${play.playType}">Play</td>
							<td th:text="${play.getListedPlayer()}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>