<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="officeLayout">
<head>
</head>
<body>
	<div layout:fragment="content">
		<div id="real-time-header" class="row">
			<div class="col-sm-5 col-xs-6">
				<h2 class="lax-rt-team-name" id="team-1"
					th:text="${homeTeam}? ${homeTeam.name}"
					th:attr="data-team=${homeTeam}? ${homeTeam.id}">Team One</h2>
			</div>
			<div class="col-sm-2 xs-hidden" id="game"
				th:attr="data-game=${game.id}"></div>
			<div class="col-sm-5 col-xs-6">
				<h2 class="lax-rt-team-name" id="team-2"
					th:text="${visitingTeam}? ${visitingTeam.name}"
					th:attr="data-team=${visitingTeam}? ${visitingTeam.id}">Team
					Two</h2>
			</div>
		</div>

		<div id="real-time-entry" class="carousel slide">
			<div class="carousel-inner" role="">
				<div class="item active">
					<div th:replace="events/realTime :: realTime"></div>
					<div id="play-index">
						<div th:replace="events/realTimePlayIndex :: content"></div>
					</div>
				</div>

				<div class="item">
					<div id="goal"></div>
				</div>

				<div class="item">
					<div id="shot"></div>
				</div>

				<div class="item">
					<div id="groundBall"></div>
				</div>

				<div class="item">
					<div id="penalty"></div>
				</div>

				<div class="item">
					<div id="clear"></div>
				</div>

				<div class="item">
					<div id="faceOff"></div>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="/js/laxstats.playTimer.module.js"
			th:src="@{/js/laxstats.playTimer.module.js}"></script>
		<script type="text/javascript" src="/js/laxstats.playEntry.module.js"
			th:src="@{/js/laxstats.playEntry.module.js}"></script>
		<script type="text/javascript">
			// <![CDATA[
			(function laxRealTimeEntry() {
				var $carousel = $('#real-time-entry'), 
					$playBtn = $('.lax-btn-play');

				$(document).ready(function() {
					$carousel.carousel({
						interval : false,
						wrap : false,
						keyboard : false
					});

					$playBtn.on('click', laxstats.Play.newPlay);
				});
			})();
			// ]]>
		</script>
	</div>
</body>
</html>