<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 col-xs-12">
				<h1>New Site</h1>
				
				<form action="#"
					  th:action="@{'/admin/sites'}"
					  th:object="${siteForm}"
					  th:method="post"
					  name="new-site-form"
					  id="new-site-form"
					  role="form">
					<div class="row">
						<div class="col-sm-6 col-xs-12">
							<div class="form-group required">
								<label for="name">Name</label>
								<input th:type="text"
									   id="name"
									   class="form-control"
									   aria-described-by="nameError"
									   th:field="*{name}"
									   th:placeholder="Name"
									   required="required"
									   aria-required="true" />
								<div th:if="${#fields.hasErrors('name')}"
									 id="nameError"
									 class="lax-error"
									 th:errors="*{name}">Invalid name</div>
							</div>
							<div class="form-group required">
								<label for="city">City</label>
								<input th:type="text"
									   id="city"
									   class="form-control"
									   th:field="*{city}"
									   th:placeholder="City"
									   required="required"
									   aria-required="true" />
							</div>
							<div class="row">
								<div class="col-xs-8 form-group required">
									<label for="region">Region</label>
									<select th:field="*{region}"
											id="region"
											class="form-control"
											required="required"
											aria-required="true">
										<option value="">Select...</option>
										<option th:each="opt : *{regions}"
												th:value="${opt}"
												th:text="${opt.getLabel()}">Style</option>
									</select>
								</div>
								<div class="col-xs-4 form-group">
									<label for="postal-code">ZIP Code</label>
									<input th:type="text"
										   id="postal-code"
										   class="form-control"
										   th:field="*{postalCode}"
										   th:placeholder="'ZIP Code'" />
								</div>
							</div>
						</div>
						
						<div class="col-sm-6 col-xs-12">
							<div class="form-group">
								<label for="address-1">Street</label>
								<input th:type="text"
									   id="address-1"
									   class="form-control"
									   th:field="*{address1}"
									   th:placeholder="'Street 1'" />
							</div>
							<div class="form-group">
								<label for="address-2"></label>
								<input th:type="text"
									   id="address-2"
									   class="form-control"
									   th:field="*{address2}"
									   th:placeholder="'Street 2'" />
							</div>
							<div class="row">
								<div class="col-xs-6 form-group">
									<label for="style">Style</label>
									<select th:field="*{style}"
											id="style"
											class="form-control">
										<option value="">Select...</option>
										<option th:each="opt : *{styles}"
												th:value="${opt}"
												th:text="${opt.getValue()}">Style</option>
									</select>
								</div>
								<div class="col-xs-6 form-group">
									<label for="surface">Surface</label>
									<select th:field="*{surface}"
											id="surface"
											class="form-control">
										<option value="">Select...</option>
										<option th:each="opt : *{surfaces}"
												th:value="${opt}"
												th:text="${opt.getValue()}">Surface</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="directions">Directions</label>
						<textarea th:field="*{directions}"
								  id="directions"
								  class="form-control"
								  rows="7"></textarea>
					</div>
					<button th:type="submit" 
							class="btn btn-default">Save</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>