<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>
<body>
	<div th:fragment="content">
		<div class="row">
			<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
				<h1 class="text-center">Edit Shot</h1>
				<h2 class="text-center" 
					th:text="${teamSeason.getTeam().getFullName()}" 
					th:if="${teamSeason} != null">Team Season</h2>
					
				<form action="#" 
					  id="real-time-shot-form"
					  th:action="@{'/admin/events/' + ${event.id} + '/shots/' + ${play.id}}" 
					  th:object="${shotForm}" 
					  th:method="put" 
					  role="form">
					  
					<input type="hidden" id="play-type" th:field="*{playType}" />
					<input type="hidden" id="play-key" th:field="*{playKey}" />
					<input type="hidden" id="game-id" th:field="*{gameId}" />
					<input type="hidden" id="team-season-id" th:field="*{teamSeasonId}" />
					  
					<div class="form-group required">
						<label for="period">Period</label>
						<input th:type="number"
							   autofocus="autofocus"
							   class="form-control" 
							   id="period" 
							   min="1"
							   required="required"
							   step="1"
							   th:field="*{period}"
							   aria-required="true"
							   aria-describedby="period-error" />
						<div th:if="${#fields.hasErrors('period')}"
							 id="period-error"
							 class="lax-error"
							 th:errors="*{period}">Invalid period</div>
					</div>
					
					<div class="form-group required">
						<label for="shooter">Player</label> 
						<select id="shooter"
								class="form-control"
								required="required" 
								th:field="*{playerId}"
								aria-required="true"
								aria-describedby="player-error">
							<option value="">Select...</option>
							<optgroup th:each="entry : *{attendees.entrySet()}" 
									  label="${entry.getKey()}">
								<option th:each="opt : ${entry.getValue()}"
										th:value="${opt.id}"
										th:text="${opt.label}">Attendees</option>
							</optgroup>
						</select>
						<div th:if="${#fields.hasErrors('playerId')}"
							 id="player-error"
							 class="lax-error"
							 th:errors="*{playerId}">Invalid player</div>
					</div>
					
					<div class="form-group required">
						<label for="attempt-type">Attempt Type</label> 
						<select id="attempt-type"
								class="form-control"
								required="required" 
								th:field="*{attemptType}"
								aria-required="true"
								aria-describedby="attempt-type-error">
							<option value="">Select...</option>
							<option th:each="opt : ${ScoreAttemptType.values}" 
									th:value="${opt}" 
									th:text="${opt.label}">Attempt Type</option>
						</select>
						<div th:if="${#fields.hasErrors('attemptType')}"
							 id="attempt-type-error"
							 class="lax-error"
							 th:errors="*{attemptType}">Invalid attempt type</div>
					</div>
					
					<div class="form-group required">
						<label for="result">Result</label> 
						<select id="result"
								class="form-control"
								required="required" 
								th:field="*{result}"
								aria-required="true"
								aria-describedby="result-error">
							<option value="">Select...</option>
							<option th:each="opt : *{results}" 
									th:value="${opt}" 
									th:text="${opt.label}">Result</option>
						</select>
						<div th:if="${#fields.hasErrors('result')}"
							 id="result-error"
							 class="lax-error"
							 th:errors="*{result}">Invalid result</div>
					</div>
					
					<div class="form-group">
						<label for="comments">Comments</label>
						<textarea id="comments" 
								  class="form-control"
								  rows="3" 
								  th:field="*{comment}"></textarea>
					</div>
					
					<button th:type="submit" class="lax-btn lax-btn-save">Create</button>
					<button th:type="button" class="lax-btn lax-btn-cancel">Cancel</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>