<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="officeLayout">
<head>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-sm-3 col-sm-offset-3">
				<h1>Edit Season</h1>
				<form action="#"
					  name="edit-season-form" 
					  th:action="@{'/admin/seasons/' + ${seasonId}}" 
					  th:object="${seasonForm}"
					  th:method="put" 
					  role="form">
					<div class="form-group">
						<label for="description">Description</label> 
						<input type="text"
							   id="description" 
							   class="form-control" 
							   placeholder="Description" 
							   required="required"
							   th:field="*{description}"
							   aria-required="true"
							   aria-described-by="description-error" />
						<div th:if="${#fields.hasErrors('description')}"
							 id="description-error" 
							 class="ls-error" 
							 th:errors="*{description}">Incorrect description</div>
					</div>
					<div class="form-group">
						<label for="starts-on">Start Date</label> 
						<input type="date"
							   id="starts-on" 
							   class="form-control"
							   required="required"  
							   th:field="*{startsOn}"
							   aria-required="true"
							   aria-described-by="starts-on-error" />
						<div th:if="${#fields.hasErrors('startsOn')}" 
							 id="starts-on-error"
							 class="ls-error" 
							 th:errors="*{startsOn}">Incorrect start date</div>
					</div>
					<div class="form-group">
						<label for="ends-on">End Date</label> 
						<input type="date"
							   id="ends-on" 
							   class="form-control"
							   th:field="*{endsOn}" 
							   aria-described-by="ends-on-error" />
						<div th:if="${#fields.hasErrors('endsOn')}" 
							 id="ends-on-error"
							 class="ls-error" 
							 th:errors="*{endsOn}">Incorrect end date</div>
					</div>
					<button th:type="submit" class="btn btn-default">Update</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>