<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="officeLayout">
<head>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-3 col-xs-12">
				<h1>Seasons</h1>
			</div>
			<div class="col-sm-2 col-xs-12">
				<a href="#" th:href="@{'/admin/seasons/new'}"
					class="btn btn-default btn-sm lax-btn-new pull-right">New
					Season</a>
			</div>
			<div class="col-sm-9 col-sm-offset-3 col-xs-12 lax-flash-message" 
				 th:if="${flashMessage}" 
				 th:text="${flashMessage}">Flash Message</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3 col-xs-12">
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<td></td>
								<td>Description</td>
								<td>Start</td>
								<td>End</td>
							</tr>
						</thead>
						<tbody>
							<tr th:unless="${seasons.size() > 0}">
								<td></td>
								<td colspan="3">No records found.</td>
							</tr>
							<tr th:each="season : ${seasons}">
								<td>
									<form action="#" 
										  th:action="@{'/admin/seasons/' + ${season.id}}" 
										  th:method="delete" 
										  th:object="${season}"
										  role="form">
										<button type="submit" 
												class="btn btn-link lax-btn-delete">
											<span class="glyphicon glyphicon-remove red"></span>
										</button>
									</form>
								</td>
								<td>
									<a href="#"
									   th:href="@{'/admin/seasons/' + ${season.id} + '/edit'}"
									   th:text="${season.description}">Description</a>
								</td>
								<td th:text="${{season.startsOn}}">Start</td>
								<td th:text="${{season.endsOn}}">End</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>