<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-sm-3 col-sm-offset-3 col-xs-12">
				<h1>New Season</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-3 col-sm-offset-3 col-xs-12">
				<form action="#" 
					  th:action="@{/seasons}" 
					  th:object="${seasonForm}"
					  method="post" 
					  role="form">
					<div class="form-group">
						<label for="description">Description</label>
						<input th:type="text" 
							   id="description" 
							   class="form-control" 
							   aria-described-by="descriptionError" 
							   th:field="*{description}"
							   th:placeholder="Description"
							   required="required"
							   aria-required="true" />
						<div th:if="${#fields.hasErrors('description')}"
							 id="descriptionError"
							 class="lax-error"
							 th:errors="*{description}">Incorrect description</div>
					</div>
					<div class="form-group">
						<label for="starts-on">Start Date</label>
						<input th:type="date" 
							   id="starts-on" 
							   class="form-control" 
							   aria-described-by="startsOnError" 
							   th:field="*{startsOn}"
							   required="required"
							   aria-required="true" />
						<div th:if="${#fields.hasErrors('startsOn')}"
							 id="startsOnError"
							 class="lax-error"
							 th:errors="*{startsOn}">Incorrect start date</div>
					</div>
					<div class="form-group">
						<label for="ends-on">End Date</label>
						<input th:type="date"
							   id="ends-on" 
							   class="form-control"
							   aria-described-by="endsOnError" 
							   th:field="*{endsOn}" />
						<div th:if="${#fields.hasErrors('endsOn')}"
							 id="endsOnError"
							 class="lax-error"
							 th:errors="*{endsOn}">Incorrect end date</div>
					</div>
					<button th:type="submit" 
							class="btn btn-default">Save</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>