<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head></head>
<body>
	<div th:fragment="header">
		<header>
			<nav class="navbar navbar-inverse" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed"
							data-toggle="collapse"
							data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span> <span
								class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#"></a>
					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav">
							<li><a href="/home">HOME</a></li>
							<li><a href="/teams">TEAMS</a></li>
							<li><a href="#">SCOREBOARD</a></li>
							<li><a href="#">SCHEDULE</a></li>
							<li><a href="/people">PLAYERS</a></li>
							<li><a href="#">FIELDS</a></li>
							<li><a href="#">FANS</a></li>
							<li><a href="/office">MANAGER'S OFFICE</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
	</div>
</body>
</html>