<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head></head>
<body>
	<div th:fragment="header">
		<header>
			<nav class="navbar navbar-inverse" role="navigation">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed"
							data-toggle="collapse"
							data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span> <span
								class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#"></a>
					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav">
							<li><a href="/home">NEW GAME</a></li>
							<li><a href="/teams">TEAM</a></li>							<li><a href="/people">PLAYERS</a></li>
							<li><a href="#">PLAYERS</a></li>
							<li><a href="#">FANS</a></li>
							<li><a href="#">BLOG</a></li>
							<li><a href="#">PLAYBOOK</a></li>
							<li><a href="/penaltyTypes">PENALTY MAINTNENCE</a></li>
							<li><a href="#">MEDIA</a></li>
							<li>
								<form th:action="@{/logout}" method="post">
									<button type="submit" class="logout-btn">LOG OUT</button>
								</form>
							</li>
						</ul>
					</div>
					<div th:inline="text">[[${#httpServletRequest.remoteUser}]]</div>
				</div>
			</nav>
		</header>
	</div>
</body>
</html>