<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>
<body>
	<div th:fragment="content">
		<div class="row">
			<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
				<h1 class="text-center">Edit Penalty</h1>
				<h2 class="text-center" 
					th:text="${teamSeason.getTeam().getFullName()}" 
					th:if="${teamSeason} != null">Team Season</h2>
					
				<form action="#" 
					  id="real-time-penalty-form"
					  th:action="@{'/admin/events/' + ${event.id} + '/penalties/' + ${play.id}}" 
					  th:object="${penaltyForm}" 
					  th:method="put" 
					  role="form">
					  
					<input type="hidden" id="play-type" th:field="*{playType}" />
					<input type="hidden" id="play-key" th:field="*{playKey}" />
					<input type="hidden" id="game-id" th:field="*{gameId}" />
					<input type="hidden" id="team-season-id" th:field="*{teamSeasonId}" />
					  
					<div class="form-group required">
						<label for="period">Period</label>
						<input th:type="number"
							   autofocus="autofocus"
							   class="form-control" 
							   id="period" 
							   min="1"
							   required="required"
							   step="1"
							   th:field="*{period}"
							   aria-required="true"
							   aria-describedby="period-error" />
						<div th:if="${#fields.hasErrors('period')}"
							 id="period-error"
							 class="lax-error"
							 th:errors="*{period}">Invalid period</div>
					</div>
					
					<div class="form-group required">
						<label for="clock">Clock</label> 
						<input th:type="text" 
							   class="form-control" 
							   id="clock"
							   min="00:00"
							   pattern="\d\d:\d\d"
							   required="required"
							   step="00:01"
							   th:field="*{elapsedTime}"
							   title="mm:ss format"
							   aria-required="true"
							   aria-describedby="clock-error" />
						<div th:if="${#fields.hasErrors('elapsedTime')}"
							 id="clock-error"
							 class="lax-error"
							 th:errors="*{elapsedTime}">Invalid elapsed time</div>
					</div>
					
					<div class="form-group required">
						<label for="violation">Violation</label> 
						<select id="violation"
								class="form-control"
								required="required" 
								th:field="*{violationId}"
								aria-required="true"
								aria-describedby="violation-error">
							<option value="">Select...</option>
							<option th:each="entry : *{violationData.entrySet()}" 
									th:value="${entry.getKey()}" 
									th:text="${entry.getValue()}">Violations</option>
						</select>
						<div th:if="${#fields.hasErrors('violationId')}"
							 id="violation-error"
							 class="lax-error"
							 th:errors="*{violationId}">Invalid violation</div>
					</div>
					
					<div class="form-group required">
						<label for="violator">Committed By</label> 
						<select id="violator"
								class="form-control" 
								required="required"
								th:field="*{committedById}"
								aria-required="true"
								aria-describedby="committed-by-error">
							<option value="">Select...</option>
							<optgroup th:each="entry : *{attendees.entrySet()}" 
									  label="${entry.getKey()}">
								<option th:each="opt : ${entry.getValue()}"
										th:value="${opt.id}"
										th:text="${opt.label}">Attendees</option>
							</optgroup>
						</select>
						<div th:if="${#fields.hasErrors('committedById')}"
							 id="committed-by-error"
							 class="lax-error"
							 th:errors="*{committedById}">Invalid violator</div>
					</div>
					
					<div class="form-group">
						<label for="against">Committed Against</label>
						<select id="against" 
								class="form-control"
								th:field="*{committedAgainstId}"
								aria-describedby="committed-against-error">
							<option value="">Select...</option>
							<optgroup th:each="entry : *{attendees.entrySet()}" 
									  label="${entry.getKey()}">
								<option th:each="opt : ${entry.getValue()}"
										th:value="${opt.id}"
										th:text="${opt.label}">Attendees</option>
							</optgroup>
						</select>
						<div th:if="${#fields.hasErrors('committedById')}"
							 id="committed-against-error"
							 class="lax-error"
							 th:errors="*{committedById}">Invalid player</div>
					</div>
					
					<div class="form-group required">
						<label for="duration">Duration</label>
						<input th:type="text" 
							   class="form-control" 
							   id="duration"
							   min="00:00"
							   pattern="\d\d:\d\d"
							   required="required"
							   step="00:01"
							   title="mm:ss format"
							   th:field="*{duration}"
							   aria-required="true"
							   aria-describedby="duration-error" />
						<div th:if="${#fields.hasErrors('duration')}"
							 id="duration-error"
							 class="lax-error"
							 th:errors="*{duration}">Invalid duration</div>
					</div>
					
					<div class="form-group">
						<label for="comments">Comments</label>
						<textarea id="comments" 
								  class="form-control"
								  rows="3" 
								  th:field="*{comment}"></textarea>
					</div>
					
					<button th:type="submit" class="lax-btn lax-btn-save">Update</button>
					<button th:type="button" class="lax-btn lax-btn-cancel">Cancel</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>