<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="officeLayout">
<head>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
				<h1>New Roster Member</h1>
				<h5 th:text="${teamSeason.getFullName() + ' Season'}">Team Name</h5>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
				<h4 class="pull-left">Search People</h4>
				<a href="#"
				   th:href="@{'/admin/people/new'}"
				   class="btn btn-default pull-right">New Person</a>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
				<div th:replace="partials/searchPeopleForm :: searchPeople"></div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-4 col-sm-offset-4">
				<div class="row" style="margin: 15px 0;">
					<div class="col-xs-9">
						<div id="search-results">
							<select class="form-control">
								<option value="">Search people...</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
				<h4 class="">Member Information</h4>
				<div class="row">
					<div class="form-group">
						<label class="col-xs-2">Name</label>
						<div class="col-xs-10">
							<div id="selected-person-name" 
								 class="red">Please select someone from the list above.</div>
						</div>
					</div>
				</div>
				
				<form action="#"
					  method="post"
					  name="new-roster-form"
					  id="new-roster-form"
					  th:action="@{'/admin/teamSeasons/' + ${teamSeason.id} + '/roster'}"
					  th:object="${playerForm}"
					  role="form">
					<input type="hidden" th:field="*{personId}" />
					<div class="row">
						<div class="col-sm-6 col-xs-12 form-group required">
							<label for="role">Role</label>
							<select id="role"
									class="form-control"
									required="required"
									th:field="*{role}"
									aria-required="true"
									aria-described-by="role-error">
								<option value="">Select...</option>
								<option th:each="opt : *{roles}"
										th:value="${opt}"
										th:text="${opt.label}">Role</option>
							</select>
							<div th:if="${#fields.hasErrors('role')}" 
								 id="role-error"
								 class="lax-error" 
								 th:errors="*{role}">Invalid role</div>
							</div>
						<div class="col-sm-6 col-xs-12 form-group required">
							<label for="status">Status</label>
							<select id="status"
									class="form-control"
									required="required"
									th:field="*{status}"
									aria-required="true"
									aria-described-by="status-error">
								<option value="">Select...</option>
								<option th:each="opt : *{statuses}"
										th:value="${opt}"
										th:text="${opt.label}">Status</option>
							</select>
							<div th:if="${#fields.hasErrors('status')}" 
								 id="status-error"
								 class="lax-error" 
								 th:errors="*{status}">Invalid status</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-4 form-group">
							<label for="jersey-number">Jersey Number</label>
							<input type="text"
								   id="jersey-number"
								   class="form-control"
								   th:field="*{jerseyNumber}" />
						</div>
						<div class="col-sm-4 form-group">
							<label for="position">Position</label>
							<select id="position"
									class="form-control"
									th:field="*{position}">
								<option value="">Select...</option>
								<option th:each="opt : *{positions}"
										th:value="${opt}"
										th:text="${opt.label}">Status</option>
							</select>
						</div>
						<div class="col-sm-4 form-group">
							<label for="depth">Depth</label>
							<input type="number"
									id="depth"
									class="form-control"
									maxlength="2"
									th:field="*{depth}" />
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-4 form-group">
							<label for="height">Height (in)</label>
							<input type="number"
								   id="height"
								   class="form-control"
								   maxlength="3"
								   th:field="*{height}" />
						</div>
						<div class="col-sm-4 form-group">
							<label for="weight">Weight (lbs)</label>
							<input type="number"
								   id="weight"
								   class="form-control"
								   maxlength="3"
								   th:field="*{weight}" />
						</div>
						<div class="col-sm-4 form-group checkbox">
							<label for="captain">
								<input type="checkbox"
									   id="captain"
									   th:field="*{captain}" />
								<strong>Captain</strong>
							</label>
						</div>
					</div>
					<button th:type="submit" class="btn btn-default">Add Member</button>
				</form>
			</div>
		</div>
		
		<script type="text/javascript">
			(function(){
				var $searchForm = $('#search-people-form'),
					$personId = $('#personId'),
					$personName = $('#selected-person-name');
				
				function setSelectListener() {
					$('#found-people').on('change', function(){
						if($(this).val() != '') {
							$personId.val($(this).val());
							$personName.text($(this).find('option:selected').text());
						} else {
							$personName.text('Please select someone from the list above.')
						}
					});
				}
				
				function searchPeople() {
					var token = $searchForm.find("input[name='_csrf']").val(),
					data = {
						firstName: $('#first-name').val(),
						lastName: $('#last-name').val(),
						city: $('#city').val(),
						region: $('#region').val(),
						postalCode: $('#postal-code').val(),
						contact: $('#contact').val()
					}, df;
					
					df = $.ajax({
						type: 'POST',
						url: '/api/people/searchData',
						data: JSON.stringify(data),
						dataType: 'text',
						contentType: 'application/json',
						headers: { 'X-CSRF-TOKEN': token }
					});
					
					df.done(function(data){
						$('#search-results').html(data);
						setSelectListener();
					});
					
					df.fail(function(jqXHR, status, error){
						var msg = 'Error (' 
								+ jqXHR.status + '): ' + jqXHR.responseText;
						$('#search-results').text(msg);
					});
				}
				
				function checkPerson() {
					if($personId.val() == '') {
						$personName.text('A person must be selected.');
						return false;
					}
					return true;
				}
				
				$('#search-people-form').submit(function(event){
					event.preventDefault();
					searchPeople();
					return false;
				});
				
				$('#new-roster-form').submit(function(){
					return checkPerson();
				});
			})();
		</script>
		
	</div>
</body>
</html>