<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="officeLayout">
<head>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-4">
				<h1>Edit Violation</h1>
				<form action="#" 
					  th:action="@{'/admin/violations' + ${violationId}}" 
					  th:object="${violationForm}" 
					  method="put" 
					  role="form">
					<div class="form-group required">
						<label for="name">Name</label>
						<input type="text" 
							   id="name" 
							   class="form-control" 
							   maxlength="50"
							   placeholder="Name"
							   required="required"
							   aria-described-by="name-error"
							   aria-required="true" 
							   th:field="*{name}" />
						<div th:if="${#fields.hasErrors('name')}" 
							 id="name-error"
							 class="lax-error" 
							 th:errors="*{name}">Invalid name</div>
					</div>
					
					<div class="form-group">
						<label for="description">Description</label>
						<textarea id="description" 
								  class="form-control" 
								  rows="3" 
								  placeholder="Description" 
								  th:field="*{description}"></textarea>
					</div>
					
					<div class="form-group">
						<label th:for="releasable">
							<input type="checkbox" 
								   id="releasable" 
								   th:field="*{releasable}" />
							<strong>Releasable</strong>
						</label> 
					</div>
					
					<div class="row">
						<div class="col-sm-6 form-group required">
							<label for="category">Category</label>
							<select id="category" 
									class="form-control"
									required="required"
									aria-required="true" 
									th:field="*{category}">
								<option value="">Select...</option>
								<option th:each="opt : *{categories}" 
										th:value="${opt}" 
										th:text="${opt.label}">Category</option>
							</select>
						</div>
						<div class="col-sm-6 form-group">
							<label for="penalty-length">Penalty Length</label>
							<select id="penalty-length" 
									class="form-control" 
									th:field="*{penaltyLength}">
								<option value="">Select...</option>
								<option th:each="opt : *{penaltyLengths}" 
										th:value="${opt}" 
										th:text="${opt.label}">Penalty Length</option>
							</select>
						</div>
					</div>
					
					<button th:type="submit" class="btn btn-default">Update</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>