<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="officeLayout">
<head>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-sm-2 col-sm-offset-4 col-xs-8">
				<h1>Violations</h1>
			</div>
			<div class="col-sm-2 col-xs-4">
				<a href="#" 
				   th:href="@{'/admin/violations/new'}"
				   class="btn btn-default btn-sm lax-btn-new pull-right">New Violation</a>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-4 col-sm-offset-4">
				<div class="table-responsive lax-admin-table">
					<table class="table table-striped table-condensed">
						<thead>
							<tr>
								<td></td>
								<td>Name</td>
								<td>Category</td>
								<td class="center">Releasable</td>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${violations.size() == 0}">
								<td></td>
								<td colspan="3">No records found.</td>
							</tr>
							<tr th:each="item : ${violations}" th:if="${violations.size() > 0}">
								<td>
									<form action="#" 
										  th:action="@{'/admin/violations/' + ${item.id}}" 
										  th:method="delete" 
										  role="form">
									<button type="submit" class="btn btn-link lax-btn-delete">
										<span class="glyphicon glyphicon-remove red"></span>
									</button>
									</form>
								</td>
								<td>
									<a href="#" 
									   th:href="@{'/admin/violations/' + ${item.id} + '/edit'}" 
									   th:text="${item.name}">Name</a>
								</td>
								<td th:text="${item.category.label}">Category</td>
								<td class="center">
									<span class="glyphicon glyphicon-ok green" 
										  th:if="${item.releasable}"></span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>