<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>
<body>
	<div th:fragment="content">
		<div class="row">
			<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
				<h1 class="text-center">Edit Goal</h1>
				<h2 class="text-center" 
					th:text="${teamSeason.getTeam().getFullName()}" 
					th:if="${teamSeason} != null">Team Season</h2>
					
				<form action="#" 
					  id="real-time-goal-form"
					  th:action="@{'/admin/events/' + ${event.id} + '/goals/' + ${play.id}}" 
					  th:object="${goalForm}" 
					  th:method="put" 
					  role="form">
					  
					<input type="hidden" id="play-type" th:field="*{playType}" />
					<input type="hidden" id="play-key" th:field="*{playKey}" />
					<input type="hidden" id="game-id" th:field="*{gameId}" />
					<input type="hidden" id="team-season-id" th:field="*{teamSeasonId}" />
					
					<div class="row">
						<div class="col-xs-6 form-group required">
							<label for="period">Period</label>
							<input th:type="number"
								   autofocus="autofocus"
								   class="form-control" 
								   id="period" 
								   min="1"
								   required="required"
								   step="1"
								   th:field="*{period}"
								   aria-required="true"
								   aria-describedby="period-error" />
							<div th:if="${#fields.hasErrors('period')}"
								 id="period-error"
								 class="lax-error"
								 th:errors="*{period}">Invalid period</div>
						</div>
						<div class="col-xs-6 form-group required">
							<label for="clock">Clock</label> 
							<input th:type="text" 
								   id="clock"
								   min="00:00"
								   class="form-control"
								   pattern="\d\d:\d\d" 
								   required="required"
								   step="00:01"
								   title="mm:ss format"
								   th:field="*{elapsedTime}"
								   aria-required="true"
								   aria-describedby="clock-error" />
							<div th:if="${#fields.hasErrors('elapsedTime')}"
								 id="clock-error"
								 class="lax-error"
								 th:errors="*{elapsedTime}">Invalid elapsed time</div>
						</div>
					</div>
					
					<div class="form-group required">
						<label for="scorer">Scorer</label> 
						<select id="scorer"
								class="form-control" 
								th:field="*{scorerId}"
								required="required"
								aria-required="true"
								aria-describedby="scorer-error">
							<option value="">Select...</option>
							<optgroup th:each="entry : *{attendees.entrySet()}" 
									  label="${entry.getKey()}">
								<option th:each="opt : ${entry.getValue()}"
										th:value="${opt.id}"
										th:text="${opt.label}">Scorers</option>
							</optgroup>
						</select>
						<div th:if="${#fields.hasErrors('scorerId')}"
							 id="scorer-error"
							 class="lax-error"
							 th:errors="*{scorerId}">Invalid scorer</div>
					</div>
					
					<div class="form-group">
						<label for="attempt-type">Shot type</label> 
						<select id="attempt-type"
								class="form-control" 
								required="required"
								th:field="*{attemptType}"
								aria-required="true"
								aria-describedby="attempt-type-error">
							<option value="">Select...</option>
							<option th:each="opt : *{attemptTypes}" 
									th:value="${opt}" 
									th:text="${opt.label}">Shot type</option>
						</select>
						<div th:if="${#fields.hasErrors('attemptType')}"
							 id="attempt-type-error"
							 class="lax-error"
							 th:errors="*{attemptType}">Invalid shot type</div>
					</div>
					
					<div class="form-group">
						<label for="assist">Assist</label>
						<select id="assist" 
								class="form-control"
								required="required"
								th:field="*{assistId}"
								aria-required="true"
								aria-describedby="assist-error">
							<option value="">Select...</option>
							<optgroup th:each="entry : *{attendees.entrySet()}" 
									  label="${entry.getKey()}">
								<option th:each="opt : ${entry.getValue()}"
										th:value="${opt.id}"
										th:text="${opt.label}">Assists</option>
							</optgroup>
						</select>
						<div th:if="${#fields.hasErrors('assistId')}"
							 id="assist-error"
							 class="lax-error"
							 th:errors="*{assistId}">Invalid assist</div>
					</div>
					
					<div class="form-group">
						<label for="comments">Comments</label>
						<textarea id="comments" 
								  class="form-control"
								  rows="3" 
								  th:field="*{comment}"></textarea>
					</div>
					
					<button th:type="submit" class="lax-btn lax-btn-save">Update</button>
					<button th:type="button" class="lax-btn lax-btn-cancel">Cancel</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>