<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-sm-6 col-xs-12"></div>
			<div class="col-sm-6 col-xs-12">
				<h4>Goal Input</h4>
				<form action="#" 
					  th:action="@/events/${event.id}/goals" 
					  th:object="${goalForm}" 
					  method="post" 
					  role="form">
					<div class="form-group">
						<label for="period">Period</label>
						<input th:type="text"
							   id="period" 
							   class="form-control" 
							   th:field="*{period}" />
					</div>
					<div class="form-group">
						<label for="clock">Clock</label> 
						<input th:type="text" 
							   id="clock"
							   class="form-control" 
							   th:field="*{elapsedTime}" />
					</div>
					<div class="form-group">
						<label for="scorer">Scorer</label> 
						<select id="scorer"
								class="form-control" 
								th:field="*{scorerId}">
							<option value="">Select...</option>
							<optgroup th:each="team : *{attendees.entrySet()}" 
									  label="${team.key}">
								<option th:each="opt : ${team.value}"
										th:value="${opt.getId()}"
										th:text="${opt.label()}">Attendees</option>
							</optgroup>
						</select>
					</div>
					<div class="form-group">
						<label for="attempt-type">Shot type</label> 
						<select id="attempt-type"
								class="form-control" 
								th:field="*{attemptType}">
							<option value="">Select...</option>
							<option th:each="entry : ${ScoreAttemptType.values}" 
									th:value="${entry.name}" 
									th:text="${entry.label}">Shot type</option>
						</select>
					</div>
					<div class="form-group">
						<label for="assist">Assist</label>
						<select id="assist" 
								class="form-control"
								th:field="*{assistId}">
							<option value="">Select...</option>
							<optgroup th:each="team : *{attendees.entrySet()}" 
									  label="${team.key}">
								<option th:each="opt : ${team.value}"
										th:value="${opt.getId()}"
										th:text="${opt.label()}">Attendees</option>
							</optgroup>
						</select>
					</div>
					<div class="form-group">
						<label for="comments">Comments</label>
						<textarea id="comments" 
								  class="form-control"
								  rows="3" 
								  th:field="*{comments}"></textarea>
					</div>
					<button th:type="submit" class="btn btn-default">Submit</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>