<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="officeLayout">
<head>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<h1 class="text-center"
				    th:text="${'Edit address for ' + person.getFullName()}"></h1>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4 col-sm-offset-4">
				<form action="#" 
					  id="edit-address-form"
					  name="edit-address-form"
					  th:method="put" 
					  th:action="@{'/admin/people/' + ${person.getId().toString()} + '/addresses/' + ${addressId}}" 
					  th:object="${addressForm}"
					  role="form">
					<input type="hidden" 
						   id="id" 
						   th:field="*{id}" />
					<input type="hidden" 
						   id="personId" 
						   th:field="*{personId}" />
					<div class="row">
						<div class="col-sm-6 form-group required">
							<label for="address-type">Address Type</label>
							<select id="address-type"
									class="form-control"
									required="required" 
									th:field="*{type}"
									aria-required="true"
									aria-describedby="type-error">
								<option value="">Select...</option>
								<option th:each="opt : *{addressTypes}"
										th:value="${opt}"
										th:text="${opt.label}">Address Type</option>
							</select>
							<div th:if="${#fields.hasErrors('type')}" 
								 id="type-error"
								 class="lax-error" 
								 th:errors="*{type}">Invalid type</div>
						</div>
						<div class="col-sm-6 form-group checkbox">
							<label for="primary">
								<input type="checkbox"
									   id="primary"
									   th:field="*{primary}" />
								<strong>Primary Address?</strong>
							</label>
						</div>
					</div>
					
					<div class="form-group">
						<label for="address-1">Address 1</label>
						<input type="text"
							   id="address-1"
							   class="form-control"
							   maxlength="34"
							   th:field="*{address1}" />
					</div>
					<div class="form-group">
						<label for="address-2">Address 2</label>
						<input type="text"
							   id="address-2"
							   class="form-control"
							   maxlength="34"
							   th:field="*{address2}" />
					</div>
					<div class="form-group required">
						<label for="city">City</label>
						<input type="text"
							   id="city"
							   class="form-control"
							   required="required"
							   maxlength="30"
							   th:field="*{city}"
							   aria-required="true"
							   aria-describedby="city-error" />
						<div th:if="${#fields.hasErrors('city')}" 
							 id="city-error"
							 class="lax-error" 
							 th:errors="*{city}">Invalid city</div>
					</div>
					
					<div class="row">
						<div class="col-sm-4 form-group required">
							<label for="region">Region</label>
							<select id="region"
									class="form-control" 
									th:field="*{region}">
								<option value="">Select...</option>
								<option th:each="opt : *{regions}"
										th:value="${opt}"
										th:text="${opt.getAbbreviation()}">Region</option>
							</select>
						</div>
						<div class="col-sm-8 form-group">
							<label for="postal-code">ZIP Code</label>
							<input type="text"
								   id="podtal-code"
								   class="form-control"
								   maxlength="10"
								   th:field="*{postalCode}" />
						</div>
					</div>
					<button type="submit" class="btn btn-default">Update</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>