<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head></head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-md-7 col-md-offset-2 col-sm-9 col-sm-offset-1">
				<a href="#" 
				   th:href="@{'/admin/people/new'}" 
				   class="btn btn-default btn-sm lax-btn-new pull-right">New Person</a>
				<h1>People</h1>
				<h4 class="">Search</h4>
			</div>
			
			<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 search-people-form">
				<div th:replace="partials/searchPeopleForm :: searchPeople">Search People Form</div>
			</div>
		</div>
		
		<div class="row">
			<div id="search-results" 
				 class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 search-people-results">
				<h4 class="">Results</h4>
				<table class="table table-striped">
					<thead>
						<tr>
							<td></td>
							<td>Name</td>
							<td>City</td>
							<td>Region</td>
							<td>ZIP Code</td>
							<td>Contact</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td></td>
							<td colspan="5">No results found.</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<script type="text/javascript">
			(function(){
				
				$('#search-people-form').submit(function(event){
					var $form = $(this),
						token = $form.find("input[name='_csrf']").val(),
						data = {
							firstName: $('#first-name').val(),
							lastName: $('#last-name').val(),
							city: $('#city').val(),
							region: $('#region').val(),
							postalCode: $('#postal-code').val(),
							contact: $('#contact').val()
						}, df;
					
					event.preventDefault();
					df = $.ajax({
						type: 'POST',
						url: '/api/people/search',
						data: JSON.stringify(data),
						dataType: 'text',
						contentType: 'application/json',
						headers: { 'X-CSRF-TOKEN': token }
					});
					
					df.done(function(data){
						$('#search-results').html(data);
					});
					
					df.fail(function(jqXHR, status, error){
						var msg = 'Error (' 
								+ jqXHR.status + '): ' + jqXHR.responseText;
						$('#search-results').text(msg);
					});
					return false;
				});
			})();
		</script>
	</div>
</body>
</html>