<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="officeLayout">
<head>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
				<h1>New Contact</h1>
				<h4 th:text="${person.getFullName()}"></h4>
			</div>
		</div>
	
		<div class="row">
			<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
				<form action="#" 
					  method="post" 
					  id="new-contact-form" 
					  name="new-contact-form" 
					  th:action="@{'/admin/people/' + ${person.id} + '/contacts'}" 
					  th:object="${contactForm}" 
					  role="form">
					  
					<input type="hidden" 
						   id="personId" 
						   th:field="*{personId}" />
						   
					<div class="row">
						<div class="col-sm-6 form-group required">
							<label for="contact-method">Method</label>
							<select id="contact-method"
									class="form-control" 
									required="required"
									th:field="*{method}"
									aria-required="true"
									aria-describedby="method-error">
								<option value="">Select...</option>
								<option th:each="opt : *{contactMethods}"
										th:value="${opt}"
										th:text="${opt.label}">Address Type</option>
							</select>
							<div th:if="${#fields.hasErrors('method')}" 
								 id="method-error"
								 class="lax-error" 
								 th:errors="*{method}">Invalid method</div>
						</div>
						<div class="col-sm-6 form-group checkbox">
							<label for="primary">
								<input type="checkbox"
									   id="primary"
									   th:field="*{primary}"
									   aria-describedby="primary-error" />
								<strong>Primary?</strong>
							</label>
							<div th:if="${#fields.hasErrors('primary')}" 
								 id="primary-error"
								 class="lax-error" 
								 th:errors="*{primary}">Invalid primary</div>
						</div>
					</div>
					
					<div class="col-xs-12">
						<label for="do-not-use">
							<input type="checkbox"
								   id="do-not-use"
								   th:field="*{doNotUse}" />
							<strong>Do Not Use</strong>
						</label>
					</div>
					<div class="form-group required">
						<label for="contact-value">Value</label>
						<input type="text"
							   id="contact-value"
							   class="form-control"
							   required="required"
							   th:field="*{value}"
							   aria-required="true"
							   aria-describedby="value-error" />
						<div th:if="${#fields.hasErrors('value')}" 
							 id="value-error"
							 class="lax-error" 
							 th:errors="*{value}">Invalid valid</div>
					</div>
					
					<button th:type="submit" class="lax-btn lax-btn-save">Save</button>
					<button th:type="button" class="lax-btn lax-btn-cancel">Cancel</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>