<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>
<body>
	<div th:fragment="resultList">
		<h2 class="lax-form-subtitle">Results</h2>
		<div class="table-responsive">
			<table class="table table-striped lax-admin-table">
				<thead>
					<tr>
						<td></td>
						<td>Name</td>
						<td>City</td>
						<td>Region</td>
						<td>ZIP Code</td>
						<td>Contact</td>
					</tr>
				</thead>
				<tbody>
					<tr th:unless="${!#lists.isEmpty(results)}">
						<td></td>
						<td colspan="5">No results found.</td>
					</tr>
					<tr th:each="element : ${results}">
						<td>
							<form action="#"
								  class="lax-icon"
								  title="Delete"
								  role="form"
								  th:action="@{'/admin/people/' + ${element.id}}"
								  th:method="delete"
								  th:object="${element}">
								<button type="submit"
										class="btn btn-link lax-btn-delete">
									<span class="glyphicon glyphicon-remove red"></span>
								</button>
							</form>
							<a href="#"
							   th:href="@{'/admin/people/' + ${element.id} + '/edit'}"
							   class="lax-icon"
							   title="Edit">
								<span class="glyphicon glyphicon-pencil green"></span>
							</a>
							<a href="#"
							   th:href="@{'/admin/people/' + ${element.id}}"
							   class="lax-icon"
							   title="Edit">
								<span class="glyphicon glyphicon-home green"></span>
							</a>
							<a href="#"
							   th:href="@{'/admin/people/' + ${element.id}}"
							   class="lax-icon"
							   title="Edit">
								<span class="glyphicon glyphicon-bullhorn green"></span>
							</a>
						</td>
						<td>
							<a href="#"
							   th:href="@{'/admin/people/' + ${element.id}}"
							   th:text="${element.fullName}">Full Name</a>
						</td>
						<td th:text="${element.city}">City</td>
						<td th:text="${element.region}">Region</td>
						<td th:text="${element.postalCode}">ZIP Code</td>
						<td th:text="${element.contact}">Contact</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>