<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="officeLayout">
<head>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
				<div class="row">
					<div class="col-sm-6">
						<h1 th:text="${person.getFullName()}"></h1>
					</div>
					<div class="col-sm-6">
						<a href="#" 
						   th:href="@{'/admin/people/' + ${person.id} + '/contacts/new'}"
						   class="btn btn-default btn-sm lax-btn-new pull-right">New Contact</a>
						<a href="#" 
						   th:href="@{'/admin/people/' + ${person.id} + '/addresses/new'}" 
						   class="btn btn-default btn-sm lax-btn-new">New Address</a>
					</div>
				</div>
				
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1">
						<table>
							<tbody>
								<tr>
									<td>Name:</td>
									<td th:text="${person.getFullName()}">Name</td>
								</tr>
								<tr>
									<td>Nickname:</td>
									<td th:text="${person.nickname}">Nickname</td>
								</tr>
								<tr>
									<td>Gender:</td>
									<td th:text="${person.gender.label}">Gender</td>
								</tr>
								<tr>
									<td>Dominant Hand:</td>
									<td th:text="${person.dominantHand.label}">Dominant hand</td>
								</tr>
								<tr>
									<td>Birth Date:</td>
									<td th:text="${{person.birthdate}}">Birth date</td>
								</tr>
								<tr>
									<td>College:</td>
									<td th:text="${person.college}">College</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
				<h2>Contacts</h2>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<td></td>
								<td class="text-center">Primary</td>
								<td>Method</td>
								<td>Value</td>
							</tr>
						</thead>
						<tbody>
							<tr th:each="contact : ${person.contacts}">
								<td>
									<form th:action="@{'/admin/people/' + ${person.id} + '/contacts/' + ${contact.id}}" 
										  th:method="delete" 
										  class="lax-icon" 
										  title="Delete" 
										  role="form">
										<button type="submit" 
												class="btn btn-link lax-btn-delete">
											<span class="glyphicon glyphicon-remove red"></span>
										</button>
									</form>
									<a class="lax-icon" 
									   title="Edit" 
									   th:href="@{'/admin/people/' + ${person.id} + '/contacts/' + ${contact.id} + '/edit'}">
										<span class="glyphicon glyphicon-pencil green"></span>
									</a>
								</td>
								<td class="text-center">
									<span th:if="${contact.isPrimary()}" 
										  class="glyphicon glyphicon-ok green"></span>
								</td>
								<td th:text="${contact.method.label}">Type</td>
								<td th:text="${contact.value}" 
									th:if="${contact.method.label != 'Email'}">Value</td>
								<td th:if="${contact.method.label == 'Email'}">
									<a th:href="@{'mailto:' + ${contact.value}}" 
									   th:text="${contact.value}">Value</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
				<h2>Addresses</h2>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<td></td>
								<td class="text-center">Primary</td>
								<td>Address</td>
								<td></td>
								<td>City</td>
								<td>Region</td>
								<td>ZIP Code</td>
							</tr>
						</thead>
						<tbody>
							<tr th:each="item : ${person.addresses}">
								<td>
									<form th:action="@{'/admin/people/' + ${person.id} + '/addresses/' + ${item.id}}" 
										  th:method="delete" 
										  class="lax-icon" 
										  title="Delete" 
										  role="form">
										<button type="submit" 
												class="btn btn-link lax-btn-delete">
											<span class="glyphicon glyphicon-remove red"></span>
										</button>
									</form>
									<a class="lax-icon" 
									   title="Edit" 
									   th:href="@{'/admin/people/' + ${person.id} + '/addresses/' + ${item.id} + '/edit'}">
										<span class="glyphicon glyphicon-pencil green"></span>
									</a>
								</td>
								<td class="text-center">
									<span th:if="${item.isPrimary()}" 
										  class="glyphicon glyphicon-ok green"></span>
								</td>
								<td th:text="${item.address1}">Address</td>
								<td th:text="${item.address2}"></td>
								<td th:text="${item.city}">City</td>
								<td th:text="${item.region.label}">Region</td>
								<td th:text="${item.postalCode}">ZIP Code</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>