<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html">
<head></head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<h1>
				<span th:text="${}">Name</span><br>
				<span>Team</span>
			</h1>
		</div>
		<div class="row" th:object="${}">
			<div class="col-sm-3 col-xs-12">
				<div>
					<strong>Name:</strong> <span th:field="*{fullName}">Full
						Name</span>
				</div>
				<div>
					<strong>Birth date:</strong> <span th:text="*{birthdate}">Birth date</span>
				</div>
				<div>
					<strong>Height:</strong> <span>Height</span>
				</div>
				<div>
					<strong>Weight:</strong> <span>Weight</span>
				</div>
			</div>
			<div class="col-sm-3 col-xs-12">
				<div>
					<strong>Age (as of today):</strong> <span>Age</span>
				</div>
				<div>
					<strong>Class:</strong> <span>Class</span>
				</div>
				<div>
					<strong>Position:</strong> <span>Position</span>
				</div>
				<div>
					<strong>Hand:</strong> <span th:text="*{dominantHand.toLowerCase}">Hand</span>
				</div>
				<div>
					<strong>School:</strong> <span>School</span>
				</div>
				<div>
					<strong>Counselor:</strong> <span>Counselor</span>
				</div>
			</div>
			<div class="col-sm-6 col-xs-12">
				<div>
					<strong>Address:</strong> <span th:text="*{primaryAddress} ? *{primaryAddress.toHTML : 'n/a'}">Address</span>
				</div>
				<div>
					<strong>Contact:</strong> <span th:text="*{primaryContact} ? *{primaryContact.value} : 'n/a'">Contact</span>
				</div>
				<div>
					<strong>Parent:</strong> <span>Parent</span>
				</div>
				<div>
					<strong>Parent Contact:</strong> <span>Parent Contact</span>
				</div>
			</div>
		</div>
	</div>
</body>
</html>