@CHARSET "ISO-8859-1";

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/proximanova-bold-webfont.eot');
	src: url('../fonts/proximanova-bold-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('../fonts/proximanova-bold-webfont.woff') format('woff'),
		url('../fonts/proximanova-bold-webfont.ttf') format('truetype'),
		url('../fonts/proximanova-bold-webfont.svg#ProximaNova') format('svg');
	font-weight: 700;
	font-style: normal;
}

/*---------- General styles ----------*/
html, body {
	background-color: rgb(233, 233, 233);
	margin: 0;
	padding: 0;
}

body {
	color: rgb(51, 51, 51);
	direction: ltr;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	height: 100%;
	line-height: 1.428;
	text-align: left;
	text-decoration: none;
}

a:hover {
	color: rgb(50, 205, 50);
}

h1, h2 {
	color: rgb(102, 102, 51);
	font-family: 'Proxima Nova', sans-serif;
	text-transform: uppercase;
}

h1 {
	font-size: 18px;
}

h2 {
	font-size: 13px;
}

.red {
	color: rgb(255, 0 , 0);
}

.green {
	color: rgb(34, 139, 34);
}

.required label:after {
	content: "*";
	color: rgb(255, 0, 0);
	display: inline;
}

.lax-error, ls-logout {
	color: rgb(255, 51, 0);
	padding: 5px 0;
}

.lax-btn-new {
	margin-top: 10px;
	margin-left: 10px;
}

.lax-btn-delete {
	border: none !important;
	padding: 0 !important;
}

.checkbox {
	margin-top: 27px;
}

.lax-icon {
	display: inline;
	margin: 0 3px;
}

.main-content {
	background-color: rgb(255, 255, 255);
	min-height: 450px;
	padding: 20px 0;
}

/*---------- Navigation styles ----------*/
.navbar {
	border-radius: 0;
	margin-bottom: 0;
}

header .navbar-nav>li>a {
	font-family: 'Proxima Nova';
	font-size: 14px;
	font-weight: normal;
}

.logout-btn {
	background-color: rgb(255, 255, 255);
	border: none;
}

footer {
	margin: 20px 0 30px;
}

footer .navbar {
	background-color: rgb(233, 233, 233);
	padding: 20px 0;
}

footer .navbar-nav>li>a {
	padding: 0 15px;
}

/*---------- Home styles ----------*/
.lede {
	color: rgb(204, 102, 51);
}

.lax-footer-title {
	color: rgb(51, 51, 51);
	font-weight: bold;
	padding-left: 15px;
}

.lax-footer-copyright {
	color: rgb(119, 119, 119);
	padding-bottom: 25px;
	padding-left: 15px;
}