@CHARSET "ISO-8859-1";

@font-face {
	font-family: 'FeltTipRoman-Bold';
	src: url('../fonts/2D4D71_0_0.eot');
	src: url('../fonts/2D4D71_0_0.eot?#iefix') format('embedded-opentype'),
		url('../fonts/2D4D71_0_0.woff2') format('woff2'),
		url('../fonts/2D4D71_0_0.woff') format('woff'),
		url('../fonts/2D4D71_0_0.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/proximanova-bold-webfont.eot');
	src: url('../fonts/proximanova-bold-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('../fonts/proximanova-bold-webfont.woff') format('woff'),
		url('../fonts/proximanova-bold-webfont.ttf') format('truetype'),
		url('../fonts/proximanova-bold-webfont.svg#ProximaNova') format('svg');
	font-weight: 700;
	font-style: normal;
}

/*---------- GENERAL STYLES ----------*/
html, body {
	background-color: rgb(233, 233, 233);
	margin: 0;
	padding: 0;
}

body {
	color: rgb(34, 34, 34);
	direction: ltr;
	font: 400 18px "freight-sans-pro", Helvetica, Arial, sans-serif;
	height: 100%;
	line-height: 1.428;
	text-align: left;
	text-decoration: none;
	text-rendering: optimizelegibility;
}

a {
	color: rgb(173, 124, 89);
}

a:hover {
	color: rgb(255, 106, 19);
}

h1, h2, h3, h4, h5 {
	color: rgb(51, 51, 51);
	font-family: "freight-sans-pro", Helvetica, Arial, sans-serif;
	font-weight: 300;
}

h1 {
	font-size: 30px;
	margin: 8px 0;
}

h2 {
	font-size: 24px;
	margin: 7px 0;
}

h3 {
	font-size: 12px;
	margin: 12px 0;
}

h4 {
	font-size: 11px;
	margin: 12px 0;
}

p {
	font: 500 18px "freight-sans-pro", Helvetica, Arial, sans-serif;
	line-height: 2;
}

input, textarea, select, label {
	color: rgb(77, 77, 77);
	font: normal normal 12px Arial;
	text-transform: none;
}

label {
	font-weight: 700;
}

@media ( max-width : 738px) {
	body, p {
		font-size: 12px;
	}
}

/*---------- BOOTSTRAP OVERRIDES ----------*/
.form-group {
	margin-bottom: 10px;
}

.form-control {
	border: 2px solid rgb(204, 204, 204);
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 0;
}

.form-control:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn {
	margin-top: 10px;
}

table .btn {
	font-size: 12px;
	line-height: 1;
}

.btn-sm {
	/* 	font-size: 16px; */
	/* 	padding: 3px 15px; */
	
}

.btn-default {
	background-color: rgb(255, 255, 255);
	border: 2px solid rgb(238, 162, 54);
	color: rgb(238, 162, 54);
	transition: all 0.2s ease;
}

.btn-default:hover {
	background-color: rgb(240, 173, 78);
	border-color: rgb(238, 162, 54);
	color: rgb(255, 255, 255);
}

.btn-default:active {
	background-color: rgb(254, 208, 134);
	border-color: rgb(249, 191, 0);
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}

.btn-info {
	background-color: rgb(255, 255, 255);
	border: 2px solid rgb(70, 184, 218);
	color: rgb(70, 184, 218);
	transition: all 0.2s ease;
}

.btn-info:hover {
	background-color: rgb(91, 192, 222);
	border-color: rgb(70, 184, 218);
	color: rgb(255, 255, 255);
}

.btn-info:active {
	background-color: rgb(136, 210, 231);
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	border-color: rgb(70, 184, 218);
}

.navbar {
	border-radius: 0;
	margin-bottom: 0;
}

.navbar-brand {
	background: url('../images/laxstats_logo.png') no-repeat 0 0;
	background-size: 125px 30px;
	height: 30px;
	margin: 10px 30px 10px 0;
	width: 125px;
}

nav .navbar-nav>li>a {
	color: rgb(255, 130, 0) !important;
	font: 700 14px "freight-sans-pro", Helvetica, Arial, sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
}

nav .navbar-nav>li>a:hover {
	color: rgb(251, 225, 34) !important;
}

@media ( max-width : 738px) {
	nav .navbar-nav>li {
		text-align: center;
	}
	.navbar-brand {
		float: right;
		margin: 10px;
	}
}

/*---------- NAVIGATION ----------*/
.logout-btn {
	background-color: rgb(255, 255, 255);
	border: none;
}

.navbar-toggle {
	border: none;
	float: none;
	height: 30px;
	left: 15px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 10px;
}

.nav-icon-container {
	position: relative;
}

.navbar-toggle:focus, .navbar-toggle:hover {
	background-color: rgb(51, 51, 51) !important;
}

#nav-icon {
	width: 30px;
	height: 30px;
	position: relative;
	margin: 0 auto;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}

#nav-icon span {
	display: block;
	position: absolute;
	height: 6px;
	width: 100%;
	background-color: rgb(255, 130, 0);
	border-radius: 6px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
	top: 0px;
}

#nav-icon span:nth-child(2), #nav-icon span:nth-child(3) {
	top: 12px;
}

#nav-icon span:nth-child(4) {
	top: 24px;
}

#nav-icon.open span:nth-child(1), #nav-icon.open span:nth-child(4) {
	top: 12px;
	width: 0%;
	left: 50%;
}

#nav-icon.open span:nth-child(2) {
	background-color: rgb(251, 225, 34);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
	background-color: rgb(251, 225, 34);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/*---------- GENERAL CONTENT PAGES ----------*/
.center {
	text-align: center;
}

.red {
	color: rgb(255, 0, 0);
}

.green {
	color: rgb(34, 139, 34);
}

.main-content {
	background-color: rgb(255, 255, 255);
	min-height: 550px;
	padding: 20px 0;
}

.lax-page-title-container {
	border-bottom: 1px solid rgb(229, 229, 229);
	margin-bottom: 30px;
}

.lax-page-title {
	color: rgb(0, 0, 0);
	font: 300 50px/1em "freight-sans-pro", Helvetica, Arial, sans-serif;
}

.lax-page-subtitle {
	color: rgb(0, 0, 0);
	font: 400 18px/1em "freight-sans-pro", Helvetica, Arial, sans-serif;
}

.lede {
	color: rgb(204, 102, 51);
}

@media ( max-width : 738px) {
	.lax-page-title {
		font-size: 36px;
	}
	.lax-page-subtitle {
		font-size: 12px;
	}
}

/*---------- ADMIN PAGES ----------*/
.required label:after {
	content: "\0020\002a";
	color: rgb(255, 0, 0);
	display: inline;
}

.checkbox {
	margin-top: 27px;
}

.checkbox label span {
	display: inline-block;
	margin-top: 3px;
}

.lax-error, .ls-logout, .lax-flash-message {
	color: rgb(255, 51, 0);
	font: bold 12px Arial;
	padding: 5px 0;
}

.lax-btn {
	background: rgb(255, 255, 255);
	border-radius: 4px;
	cursor: pointer;
	display: block;
	font: normal normal 12px Arial;
	padding: 8px 12px;
	text-align: center;
	text-transform: uppercase;
	touch-action: auto;
	transition: all 0.2s ease;
	vertical-align: middle;
	white-space: nowrap;
	min-width: 120px;
}

.lax-btn:hover, .lax-btn:active {
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}

.lax-btn-new {
	margin: 4px 0;
}

.lax-btn-new-person {
	float: right;
}

.lax-btn-delete {
	border: none !important;
	margin: 0;
	padding: 0 !important;
}

.lax-btn-cancel {
	border: 1px solid rgb(204, 204, 204);
	color: rgb(204, 204, 204);
	display: inline;
	margin: 10px 5px;
	min-width: 0;
}

.lax-btn-cancel:hover, .lax-btn-cancel:active {
	background: rgb(204, 204, 204);
	color: rgb(255, 255, 255);
}

.lax-btn-play, .lax-btn-save {
	border: 1px solid rgb(59, 142, 222);
	color: rgb(59, 142, 222);
	margin: 10px auto 0 auto;
}

.lax-btn-save {
	display: inline;
	margin: 10px 5px;
	min-width: 0;
}

.lax-btn-play:hover, .lax-btn-play:active, .lax-btn-save:hover,
	.lax-btn-save:active {
	background: rgb(59, 142, 222);
	border-color: rgb(59, 142, 222);
	color: rgb(255, 255, 255);
}

.lax-btn-action {
	border: 1px solid rgb(225, 69, 4);
	color: rgb(225, 69, 4);
	margin: 0 auto;
	padding: 8px;
	min-width: 0;
}

.lax-btn-action:hover, .lax-btn-action:action {
	background: rgb(225, 69, 4);
	border: 1px solid rgb(225, 69, 4);
	color: rgb(255, 255, 255);
}

.lax-btn-filter {
	border: 1px solid rgb(74, 139, 44);
	border-radius: 3px;
	display: inline-block;
	color: rgb(74, 139, 44);
	font-size: 10px;
	margin: 10px 2px;;
	padding: 5px 6px;
	min-width: 0;
}

.lax-btn-filter:hover, .lax-btn-filter:action {
	background: rgb(74, 139, 44);
	border: 1px solid rgb(74, 139, 44);
	color: rgb(255, 255, 255);
}

.lax-btn-new-play a {
	display: block;
	color: rgb(59, 142, 222);
	text-align: center;
	transition: all 0.2s ease;
}

.lax-btn-new-play a:hover {
	color: rgb(255, 255, 255);
	text-decoration: none;
}

.lax-icon {
	display: inline;
	margin: 0 3px;
}

.lax-icon-drop-down:after {
	color: rgb(0, 0, 0);
	content: '\0020\25bc';
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	vertical-align: top;
}

.lax-form-title {
	color: rgb(0, 0, 0);
	font: 300 30px/1em "freight-sans-pro", Helvetica, Arial, sans-serif;
}

.lax-form-subtitle {
	color: rgb(0, 0, 0);
	font: 400 24px/1em "freight-sans-pro", Helvetica, Arial, sans-serif;
}

.lax-form-info-subtitle {
	color: rgb(0, 0, 0);
	font: 400 18px/1em "freight-sans-pro", Helvetica, Arial, sans-serif;
	margin-bottom: 20px;
}

.lax-admin-table {
	font: normal normal 12px Arial;
}

/*---------- People Search ----------*/
.lax-search-people-form {
	margin-bottom: 30px;
}

.selected-person {
	font: 400 12px Arial;
	margin-top: 10px;
}

.selected-person span {
	display: block;
	float: left;
	font-weight: 700;
	padding-top: 4px;
}

#search-people {
	margin-bottom: 12px;
}

#search-results {
	margin-top: 8px;
}

#search-results .form-control {
	border: 2px solid rgb(70, 184, 218);
}

#selected-person-name {
	color: rgb(255, 0, 0);
	float: none;
	font: 400 18px/1em "freight-sans-pro", Helvetica, Arial, sans-serif;
	padding-left: 45px;
	padding-top: 0;
}

/*---------- Real Time Scoring ----------*/
.lax-rt-text {
	font: 300 10px Arial;
	margin: 3px auto;
	text-align: center;
}
.lax-rt-play-container {
	margin-bottom: 5px;
}

/* Fade transition for carousel items */
.carousel .item {
	left: 0 !important;
	-webkit-transition: opacity .5s;
	-moz-transition: opacity .5s;
	-o-transition: opacity .5s;
	transition: opacity .5s;
}

.carousel-control {
	background-image: none !important;
	/* remove background gradients on controls */
}
/* Fade controls with items */
.next.left, .prev.right {
	opacity: 1;
	z-index: 1;
}

.active.left, .active.right {
	opacity: 0;
	z-index: 2;
}

.lax-rt-team-name {
	font: 500 20px "freight-sans-pro", Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	text-align: center;
}

.lax-clock, .lax-period {
	background: rgb(51, 51, 51);
	border: 1px solid rgb(51, 51, 51);
	border-radius: 4px;
	color: rgb(255, 255, 255);
	font: 700 24px Arial;
	padding: 6px;
	text-align: center;
}

.lax-period {
	display: inline-block;
	font: 700 14px Arial;
	padding: 5px 10px;
	margin: 0 auto;
}

.lax-rt-play-filter {
	text-align: center;
}

.lax-rt-btn {
	font: normal normal 12px Arial;
	padding: 4px 8px;
	margin: 4px 2px;
}

.lax-btn-timer {
	background: rgb(225, 69, 4);
	border: 1px solid rgb(225, 69, 4);
	color: rgb(255, 255, 255);
	margin: 4px auto;
	min-width: 0;
	width: 80px;
}

.lax-btn-timer:hover, .lax-btn-timer:action {
	background: rgb(186, 20, 26);
	border: 1px solid rgb(186, 20, 26);
	color: rgb(255, 255, 255);
}

/*---------- FAQ styles ----------*/
.lax-faq-title {
	font-weight: 400;
}

.lax-faq-bottom {
	margin-top: 30px;
}

ul.lax-faq {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.lax-faq li {
	padding-left: 30px;
	text-indent: -30px;
}

.lax-faq-q {
	font-weight: 700;
}

.lax-faq-a {
	padding-bottom: 1em;
}

.lax-faq-glyph {
	display: inline-block;
	float: left;
	width: 30px;
}

.lax-faq-q .lax-faq-glyph:before {
	content: "\0051\003a";
}

.lax-faq-a .lax-faq-glyph:before {
	content: "\0041\003a";
}

@media ( max-width : 738px) {
	.checkbox {
		margin-top: 0;
	}
	.lax-form-title {
		font-size: 24px;
		font-weight: 400;
	}
	.lax-form-subtitle {
		font-size: 18px;
	}
	ul.lax-faq li {
		padding-left: 20px;
		text-indent: -20px;
	}
	.lax-faq-glyph {
		width: 20px;
	}
	#search-results {
		margin-bottom: 10px;
	}
	.lax-btn-new-person {
		float: none;
	}
	.selected-person {
		margin-bottom: 5px;
	}
}

/*---------- STATIC PAGES ----------*/
.lax-terms {
	margin-top: 30px;
}

.lax-terms-links {
	margin-bottom: 50px;
}

.lax-terms li {
	font-weight: 700;
}

.lax-terms ol li ol, .lax-terms ol li ul {
	padding-bottom: 18px;
}

.lax-terms ol li ol li {
	font-weight: 500;
	list-style-type: lower-alpha;
}

.lax-terms ul li {
	font-weight: 500;
	list-style-type: square;
}

.lax-terms p {
	line-height: 1.428;
}

/*---------- FOOTER ----------*/
.lax-footer-top {
	margin: 35px 0 40px;
}

.lax-footer-title {
	color: rgb(51, 51, 51);
	font: 700 12px "freight-sans-pro", Helvetica, Arial, sans-serif;
	padding-left: 15px;
}

.lax-footer .navbar {
	background-color: rgb(233, 233, 233);
	padding: 20px 0;
}

.lax-footer .navbar-nav>li>a {
	color: rgb(191, 148, 116) !important;
	font: 700 12px "freight-sans-pro", Helvetica, Arial, sans-serif;
	letter-spacing: 1px;
	padding: 10px 30px 10px 0;
}

.lax-footer .navbar-nav>li>a:hover {
	color: rgb(255, 130, 0) !important;
}

.lax-footer-bottom {
	border-top: 1px solid #ccc;
	padding: 20px 0;
}

.lax-footer-copyright {
	color: rgb(119, 119, 119);
	font: normal 10px Arial;
	padding-left: 15px;
}