<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>
<body>
	<div th:fragment="content">
		<div class="row">
			<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
				<h1 class="text-center">New Faceoff</h1>
				<h2 class="text-center" 
					th:text="${teamSeason.getTeam().getFullName()}" 
					th:if="${teamSeason} != null">Team Season</h2>
					
				<form action="#" 
					  th:action="@{'/admin/events/' + ${event.id} + '/faceOffs'}" 
					  th:object="${faceOffForm}" 
					  method="post" 
					  role="form">
					  
					<input type="hidden" id="game-id" th:field="*{gameId}" />
					<input type="hidden" id="team-season-id" th:field="*{teamSeasonId}" />
						   
					<div class="form-group required">
						<label for="period">Period</label>
						<input th:type="number"
							   autofocus="autofocus"
							   class="form-control" 
							   id="period" 
							   min="1"
							   required="required"
							   step="1"
							   th:field="*{period}"
							   aria-required="true"
							   aria-describedby="period-error" />
							<div th:if="${#fields.hasErrors('period')}"
								 id="period-error"
								 class="lax-error"
								 th:errors="*{period}">Invalid period</div>
					</div>
					
					<div class="form-group required">
						<label for="clock">Clock</label> 
						<input th:type="time" 
							   class="form-control" 
							   id="clock"
							   min="00:00"
							   required="required"
							   th:field="*{elapsedTime}"
							   aria-required="true"
							   aria-describedby="clock-error" />
							<div th:if="${#fields.hasErrors('elapsedTime')}"
								 id="clock-error"
								 class="lax-error"
								 th:errors="*{elapsedTime}">Invalid elapsed time</div>
					</div>
					
					<div class="form-group required">
						<label for="winner">Winner</label> 
						<select id="winner"
								class="form-control" 
								required="required"
								th:field="*{winnerId}"
								aria-required="true"
								aria-describedby="winner-error">
							<option value="">Select...</option>
							<optgroup th:each="entry : *{winners.entrySet()}" 
									  th:if="*{winners.size()} > 0"
									  label="${entry.getKey()}">
								<option th:each="opt : ${entry.getValue()}"
										th:value="${opt.getId()}"
										th:text="${opt.label()}">Attendees</option>
							</optgroup>
							<optgroup th:each="entry : *{attendees.entrySet()}" 
									  th:if="*{winners.size()} == 0"
									  label="${entry.getKey()}">
								<option th:each="opt : ${entry.getValue()}"
										th:value="${opt.getId()}"
										th:text="${opt.label()}">Attendees</option>
							</optgroup>
						</select>
						<div th:if="${#fields.hasErrors('winnerId')}"
							 id="winner-error"
							 class="lax-error"
							 th:errors="*{winnerId}">Invalid winner</div>
					</div>
					
					<div class="form-group required">
						<label for="loser">Loser</label>
						<select id="loser" 
								class="form-control"
								required="required"
								th:field="*{loserId}"
								aria-required="true"
								aria-describedby="loser-error">
							<option value="">Select...</option>
							<optgroup th:each="entry : *{losers.entrySet()}" 
									  th:if="*{losers.size()} > 0"
									  label="${entry.getKey()}">
								<option th:each="opt : ${entry.getValue()}"
										th:value="${opt.getId()}"
										th:text="${opt.label()}">Attendees</option>
							</optgroup>
							<optgroup th:each="entry : *{attendees.entrySet()}" 
									  th:if="*{losers.size()} == 0"
									  label="${entry.getKey()}">
								<option th:each="opt : ${entry.getValue()}"
										th:value="${opt.getId()}"
										th:text="${opt.label()}">Attendees</option>
							</optgroup>
						</select>
						<div th:if="${#fields.hasErrors('loserId')}"
							 id="loser-error"
							 class="lax-error"
							 th:errors="*{loserId}">Invalid loser</div>
					</div>
					
					<div class="form-group">
						<label for="comments">Comments</label>
						<textarea id="comments" 
								  class="form-control"
								  rows="3" 
								  th:field="*{comment}"></textarea>
					</div>
					
					<button th:type="submit" class="lax-btn lax-btn-save">Create</button>
					<button th:type="button" class="lax-btn lax-btn-cancel">Cancel</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>