<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head lang="en">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>Laxstats</title>
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/styles.css}" href="../css/styles.css" />
</head>
<body>
	<div th:replace="partials/header :: header">Header</div>

	<div class="container">
		<div layout:fragment="content">Content</div>
	</div>

	<div th:replace="partials/footer :: footer">Footer</div>
</body>
</html>