<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head lang="en">
<title>Laxstats</title>

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="HandheldFriendly" content="True" />
<meta name="author" content="Laxstats.net" />
<link rel="canonical" href="http://www.laxstats.net" />

<link rel="stylesheet" 
	  type="text/css" 
	  media="all"
	  th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css}" 
	  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
<link rel="stylesheet" 
	  type="text/css" 
	  media="all" 
	  href="/css/styles.css"
	  th:href="@{/css/styles.css}" />
	  
<script type="text/javascript" 
		th:src="@{http://code.jquery.com/jquery-1.11.2.min.js}" 
		src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<script type="text/javascript" 
		th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js}" 
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="//use.typekit.net/kxq1mrv.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
		
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>
<body role="document">
	<div th:replace="partials/officeHeader :: header">Header</div>

	<div class="main-content">
		<div class="container">
			<div layout:fragment="content">Content</div>
		</div>
	</div>

	<div th:replace="partials/footer :: footer">Footer</div>
</body>
</html>