<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="officeLayout">
<head>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-sm-3 col-sm-offset-3">
				<h1>Teams</h1>
			</div>
			<div class="col-sm-3">
				<a href="#" th:href="@{'/admin/teams/new'}"
					class="btn btn-default btn-sm lax-btn-new pull-right">New Team</a>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<td></td>
								<td></td>
								<td>Name</td>
								<td>Type</td>
								<td>Letter</td>
							</tr>
						</thead>
						<tbody>
							<tr th:unless="${items.size() > 0}">
								<td></td>
								<td colspan="4">No records found.</td>
							</tr>
							<tr th:each="item : ${items}">
								<td>
									<form th:object="${item}" 
										  th:action="@{'/admin/teams/' + ${item.id}}" 
										  th:method="delete">
										<button type="submit" class="btn btn-link lax-btn-delete">
											<span class="glyphicon glyphicon-remove red"></span>
										</button>
									</form>
								</td>
								<td>
									<a href="#" 
									   th:href="@{'/admin/teams/' + ${item.id} + '/seasons'}">Seasons</a>
								</td>
								<td>
									<a href="#"
									   th:href="@{'/admin/teams/' + ${item.id} + '/edit'}" 
									   th:text="${item.getFullName()}">Name</a>
								</td>
								<td th:text="${item.gender.label}">Team Type</td>
								<td th:text="${item.letter.label}">Letter</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>