<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="officeLayout">
<head>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<h1>New Team</h1>
				
				<form action="#" 
					  th:action="@{'/admin/teams'}" 
					  th:method="post" 
					  th:object="${teamForm}" 
					  name="new-team-form" 
					  id="new-team-form" 
					  role="form">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group required">
								<label for="region">Region</label>
								<select id="region" 
										class="form-control" 
										th:field="*{region}"
										required="required"
										aria-required="true"
										aria-describedby="region-error">
									<option value="">Select...</option>
									<option th:each="opt : *{regions}" 
											th:value="${opt}" 
											th:text="${opt.label}">Region</option>
								</select>
								<div th:if="${#fields.hasErrors('region')}" 
									 id="region-error" 
									 class="lax-error" 
									 th:errors="*{region}">Invalid region</div>
							</div>
							<div class="form-group required">
								<label for="sponsor">Town or School</label>
								<input type="text" 
									   id="sponsor" 
									   class="form-control" 
									   placeholder="Town or School" 
									   required="required" 
									   th:field="*{sponsor}" 
									   aria-required="true" 
									   aria-describedby="sponsor-error" />
								<div th:if="${#fields.hasErrors('sponsor')}" 
									 id="sponsor-error" 
									 class="lax-error" 
									 th:errors="*{sponsor}">Invalid sponsor</div>
							</div>
							<div class="form-group">
								<label for="name">Team Name</label>
								<input type="text"
									   id="name"
									   class="form-control"
									   placeholder="Team name"
									   required="required"
									   th:field="*{name}"
									   aria-required="true"
									   aria-describedby="name-error" />
								<div th:if="${#fields.hasErrors('name')}"
									 id="name-error"
									 class="lax-error"
									 th:errors="*{name}">Invalid name</div>
							</div>
						</div>
						
						<div class="col-sm-6">
							<div class="row">
								<div class="col-sm-6 form-group">
									<label for="abbreviation">Team Abbreviation</label>
									<input type="text"
										   id="abbreviation"
										   class="form-control"
										   maxlength="5"
										   placeholder="Abbreviation"
										   th:field="*{abbreviation}" />
								</div>
							</div>
							
							<div class="row">
								<div class="col-sm-6 form-group required">
									<label for="type">Gender</label>
									<select id="gender" 
											class="form-control"
											required="required" 
											th:field="*{gender}"
											aria-required="true"
											aria-describedby="gender-error">
										<option value="">Select...</option>
										<option th:each="opt : *{genders}" 
												th:value="${opt}" 
												th:text="${opt.label}">Gender</option>
									</select>
								</div>
								<div class="col-sm-6 form-group required">
									<label for="type">Letter</label>
									<select id="letter" 
											class="form-control"
											required="required" 
											th:field="*{letter}"
											aria-required="true"
											aria-describedby="letter-error">
										<option value="">Select...</option>
										<option th:each="opt : *{letters}" 
												th:value="${opt}" 
												th:text="${opt.label}">Letter</option>
									</select>
								</div>
								<div th:if="${#fields.hasErrors('gender')}"
									 id="gender-error"
									 class="lax-error"
									 th:errors="*{gender}">Invalid Gender</div>
								<div th:if="${#fields.hasErrors('letter')}"
									 id="letter-error"
									 class="lax-error"
									 th:errors="*{letter}">Invalid Letter</div>
							</div>
							
							<div class="form-group">
								<label for="home-site">Home Site</label>
								<select id="home-site"
										class="form-control"
										th:field="*{homeSite}">
									<option value="">Select...</option>
									<option th:each="opt : *{sites}"
											th:value="${opt.id}"
											th:text="${opt.name}">Site</option>
								</select>
							</div>
						</div>
					</div>
					<button type="submit" class="btn btn-default">Save</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>