<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="officeLayout">
<head>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-md-4 col-md-offset-3 col-sm-5 col-sm-offset-2">
				<h1>Team Seasons</h1>
			</div>
			<div class="col-md-2 col-sm-3">
				<a href="#" 
				   th:href="@{'/admin/teams/' + ${team.id} + '/seasons/new'}" 
				   class="btn btn-default btn-sm lax-btn-new pull-right">New Season</a>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
				<div th:text="${team.getTitle()}">Team Title</div>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<td></td>
								<td>Season</td>
								<td>Name</td>
							</tr>
						</thead>
						<tbody>
							<tr th:unless="${team.getSeasons().size() > 0}">
								<td></td>
								<td colspan="2">No records found.</td>
							</tr>
							<tr th:each="item : ${team.getSeasons()}">
								<td>
									<form th:action="@{'/admin/teams/' + ${team.id} + '/seasons/' + ${item.id}}" 
										  th:method="delete"
										  class="lax-icon"
										  title="Delete"
										  role="form">
										<button type="submit" 
												class="btn btn-link lax-btn-delete">
											<span class="glyphicon glyphicon-remove red"></span>
										</button>
									</form>
									<a class="lax-icon" 
									   title="Edit" 
									   th:href="@{'/admin/teams/' + ${team.id} + '/seasons/' + ${item.id} + '/edit'}">
										<span class="glyphicon glyphicon-pencil green"></span>
									</a>
								</td>
								<td>
									<a href="#" 
									   th:href="@{'/admin/teams/' + ${team.id} + '/seasons/' + ${item.id}}" 
									   th:text="${item.season.description}">Season</a>
								</td>
								<td th:text="${item.name}">Name</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>