<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
				<h1>Team Seasons</h1>
				<table class="table table-striped">
					<thead>
						<tr>
							<td>Town or School</td>
							<td>Name</td>
							<td>Gender</td>
							<td>Letter</td>
							<td>League</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<a href="#" 
								   th:href="@{'/teams/' + ${team.id} + '/edit'}" 
								   th:text="${team.sponsor}">Town or School</a>
							</td>
							<td th:text="${team.name}">Name</td>
							<td th:text="${team.gender.getLabel()}">Gender</td>
							<td th:text="${team.letter.getLabel()}">Letter</td>
							<td th:text="${team.affiliation}">League</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
				<div>
					<a href="#" 
					   th:href="@{'/teams/' + ${team.getId()} + '/seasons/new'}" 
					   class="btn btn-default btn-sm lax-btn-new">New Season</a>
				</div>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<td></td>
								<td>Season</td>
								<td>Name</td>
							</tr>
						</thead>
						<tbody>
							<tr th:each="item : ${team.getSeasons()}">
								<td>
									<form th:action="@{'/teams/' + ${team.id} + '/seasons/' + ${item.id}}" 
										  th:method="delete"
										  class="lax-icon"
										  title="Delete"
										  role="form">
										<button type="submit" 
												class="btn btn-link lax-btn-delete">
											<span class="glyphicon glyphicon-remove red"></span>
										</button>
									</form>
									<a class="lax-icon" 
									   title="Edit" 
									   th:href="@{'/teams/' + ${team.id} + '/seasons/' + ${item.id} + '/edit'}">
										<span class="glyphicon glyphicon-pencil green"></span>
									</a>
								</td>
								<td>
									<a href="#" 
									   th:href="@{'/teams/' + ${team.id} + '/seasons/' + ${item.id}}" 
									   th:text="${item.getSeason().getDescription()}">Season</a>
								</td>
								<td th:text="${item.name}">Name</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>