<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<body>
	<div th:fragment="content">
		<p>
			<span class="lede">March 2007:</span> Here we are again at the
			beginning of another season. We re-coded the entire site to make it
			more responsive. In addition, we kept pace with changes over at
			Laxpower and added a few new newsfeeds at left. Please let us know if
			we missed something and it no longer works.
		</p>
		<p>
			<span class="lede">April 2006:</span> With lax season underway, we'd
			like to thank the coaches at <strong>Medfield</strong>, <strong>Milton</strong>,
			<strong>Waltham</strong> and <strong>Walpole</strong> for their
			support. Some of their games have already been posted and more will
			be coming as we get everyone up to speed. We've been busy in the
			meantime adding little bells and whistles here and there to help
			coaches out. Some of you may have noticed that we lost our link to <strong>LaxPower</strong>
			for several days but, thanks to their great team, we're back up and
			even more solid.
		</p>
		<p>
			<span class="lede">March 2006:</span> We've added <strong>conference
				standings</strong>: Conferences for Laxstats subscribers have complete game
			history going back a couple of years and will be updated regularly
			for the current season. You can find this trove of information from
			the Team Index. We've also added the <strong>LaxCast
				newsfeed, the world's first lacrosse audio broadcast</strong>. Check it out!
			And for <strong>fans, parents, alumni and other boosters</strong>,
			we've added the ability to register with Laxstats so coaches can
			update you directly with important or late-breaking information.
		</p>
		<p>
			<span class="lede">February 2006:</span> After speaking with several
			coaches, we've added a feature to <strong>send email blasts</strong>
			via the blog. This will help update interested people immediately
			about last-minute changes to practices, games, et cetera without
			worrying that everyone has checked the website. Also, we've heard
			that some people who use <strong>MacIntosh Safari browsers</strong>
			are having trouble using links in some left-hand columns. We've found
			and fixed the bug on several pages. Please let us know of any other
			bugs or funky browser issues.
		</p>
		<p>
			<span class="lede">January 2006:</span> Happy New Year folks! Another
			lacrosse season is on it's way. Thanks to all those who've checked
			out the Laxstats website: Since our brochure mailing, we've earned
			interest from both private and public school teams in <strong>Virginia,
				Maryland, New Jersey, Pennsylvania, New York, Connecticut,
				Massachusetts and New Hampshire</strong>. We're glad that you share our view
			of the value of this site. Some of you are actively looking to
			subscribe and we hope that more will join up - the value of Laxstats
			just gets better the more teams, players, stats and activity we can
			post. We've added a <strong>women's field layout</strong> to the
			Chalkboard and are looking at other features to make the site more
			responsive and useful. By the way, links to find subscription
			information can be found at the upper left and at the bottom of this
			page.
		</p>
		<p>
			<span class="lede">November 2005:</span> As you can see, many changes
			have taken place, and hopefully all for the better. Check it out!
			First off, we have our very own lacrosse domain, <strong>laxstats.net</strong>,
			so please reset your bookmarks. Pages from the other website should
			redirect you for the time being.
		</p>
		<p>
			Second, <strong>all lax game results, statistics and team
				management data are now entered directly via the web</strong> into a new
			database living somewhere out in the wilds of Santa Monica,
			California. This is a huge improvement in accuracy, speed and
			flexibility. You create and manage your own lacrosse data in the <strong>Manager's
				Office</strong>, which you can find from the above menu.
		</p>
		<p>
			Third, you will notice a bunch of cool new features, statistics and
			graphics. (At least <i>we</i> think they're cool.) Navigating from
			one season, team or player to the next is a snap, so it's no sweat to
			get ready for 2006. The <strong>Scoreboard</strong> is a quick
			reference for you and the media to see game results, scoring
			highlights, and get to box score reports. And check out the <strong>Schedule</strong>,
			a new summary page that lists all games both forward and backward in
			time. This is a handy thing if you want to know about upcoming games,
			times and locations.
		</p>
		<p>
			Fourth, there's a bunch of new team-specific pages, which you can
			find under the Team Index menu above. In addition to statistics,
			schedules and rosters, we've designed a <strong>Coach's
				Corner</strong> where coach can maintain a blog for notices, reports and
			other yadda yadda. You can post comments, too! And we've added the
			ability to save and display <strong>photos</strong>, hopefully
			without overloading our host.
		</p>
		<p>
			By far the coolest new feature (and the one we're the most proud) is
			the <strong>laxstats Chalkboard&copy;</strong>, a unique, animated
			playbook where coach can post plays and drills. It works for both
			men's as well as women's lacrosse. Right now, anyone can use it to <strong>create
				and save plays</strong> and generally have a good time. Soon, though, we'll
			make it password protected so only coach can create and save plays
			and only team members can see them. So enjoy it while you can! You
			can find the Chalkboard in the Coach's Corner under <i>Cool Stuff</i>.
		</p>
		<p>
			If you don't think there's enough content, we've included newsfeeds
			from <strong>College Sports TV (CSTV)</strong>, <strong>MLL
				News</strong>, the <strong>Baltimore Sun</strong> and <strong>The
				Lacrosse Journal</strong>, currently the only RSS content providers dedicated
			to lacrosse. Just click on a headline to see the story.
		</p>
		<p>
			Please check out the site and send comments and advice to <a
				href="mailto:webmaster@laxstats.net">webmaster@laxstats.net</a>.
			This site is designed for everyone: coaches, athletes, parents, fans
			and the media. We can't think of everything, so if you've got an idea
			to improve it, please let us know!
		</p>
	</div>
</body>
</html>