<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
</head>
<body>
	<div layout:fragment="content">
		<header>
			<button class="back" data-target="view-nav" data-slide="sr">
				<span class="ion ion-android-menu"></span>
			</button>
			<h1>The Office</h1>
		</header>
		<div class="scroll-mask"></div>
		<div class="scroll-wrap">
			<div class="scroll">
				<div class="content">
					<p>This is the Manager's office.</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>