<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
</head>
<body>
	<div layout:fragment="content">
		<div class="lax-page_title-container">
			<h1 class="lax-page-title">Subscription Information</h1>
		</div>
		<p>
			<strong>Thanks for your interest in Laxstats!</strong>
		</p>
		<p>
			<strong>Pricing:</strong> For individual teams, a Laxstats
			subscription is $200 per season. For camps or larger associations
			putting more pressure on our host, pricing varies - please contact us
			for details. There is no set-up charge, and your subscription gives
			you access to all the features and functionality we offer. If you
			want to upload prior history, the cost is $30 per season.
		</p>
		<p>
			<strong>Term:</strong> Purchasing a subscription lets you save and
			edit information related to a single season for as long as the site
			exists. That means there's no date after which the doors shut and
			you're locked out.
		</p>
		<p>
			<strong>Payment:</strong> Payment can be made by check or money
			order, payable to Kaaterskil Management, and mailed to 45 Avon Road,
			Wellesley, MA 02482. Please include your town and state on the check
			so we can match it up to your registration in the Manager's Office.
			Once we receive your payment, we'll notify you by email that you can
			begin working on the system.
		</p>
		<p>
			<strong>Fine Print:</strong> By purchasing a subscription, you agree
			to the website Terms of Use as described in the link below. (Now
			might be a good time to actually read it.) If you're interested in
			backups, disaster recovery and other tricky technical issues, please
			contact the webmaster.
		</p>
		<p>
			<strong>Contact:</strong> To purchase a subscription and get this
			party started, contact:
		</p>
		<div>Blair Caple</div>
		<div>(voice) 339-788-1974</div>
		<div>(fax) 781-237-2277</div>
		<div>
			<a href="mailto:webmaster@laxstats.net">webmaster@laxtstats.net</a>
		</div>
	</div>
</body>
</html>